<router-outlet></router-outlet>

<h1>Welcome to my first Angular site</h1>
<p>It's so easy....</p>

<h3>Welcome:</h3> 
<p>{{ message }}</p>

<h3>Lorem Ipsum:</h3>
<p>{{ lorem }}</p>

<h3>James Bond:</h3>
<p> 00{{ bond }}</p>

<h3>Pi:</h3>
<p> {{ pi }}</p>

<h3>Slayer Album's:</h3>
<ul>
  <li *ngFor="let albums of slayerAlbums">
    {{ albums }}
  </li>
</ul>
<h3>About me:</h3>
<p>Name: {{ aboutMe.Name }} <br>
  Surname: {{ aboutMe.Surname }} <br>
  Age: {{ aboutMe.Age }}</p>

<h3>About me with *ngFor:</h3>
<div *ngFor="let me of aboutMe | keyvalue: unsorted">
  {{me.key}}: {{ me.value }}
</div>
